:root {
  color-scheme: dark;
  background-color: black;
  color: white;

  font-family: Verdana, system-ui, sans-serif;
  font-size: 11px;
  line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

main {
  height: 100vh;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  justify-items: stretch;
  justify-content: center;

  gap: 1rem;
}

canvas {
  border: 2px solid white;
  padding: 4px;
}

input {
  font: inherit;
  line-height: inherit;
  padding: 0.05rem 0.2rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
}
input:focus {
  outline: 2px solid plum;
  outline-offset: -1px;
}

h2 {
  font-size: 1.05rem;
  font-weight: bold;
}

.grid-panel {
  display: grid;
  grid-template-columns: auto auto;
  align-items: baseline;
  justify-content: start;
  column-gap: 1ch;
  row-gap: 0.25rem;
}

.dl-panel {
  display: grid;
  grid-template-columns: 10ch 10ch;
  column-gap: 1ch;
}
.dl-panel > dt {
  grid-column: 1 / -1;
  font-style: italic;
}
.dl-panel > dd {
  justify-self: end;
}
.dl-panel > dd + dt {
  margin-top: 0.5rem;
}

.coordinate-pair {
}

.panel-header {
  line-height: 1;
  text-align: center;
  padding-bottom: 1rem;
  grid-column: 1 / -1;
}

.numeric-input {
  max-width: 9ch;
}
