:root {
  background-color: black;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

main {
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid white;
}
